<div class="Container" fxLayout="column" fxLayoutAlign="start start" fxLayout.lt-md="row" fxLayoutGap="16px">
  <div fxLayout="row" fxFill fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutGap="16px" >
    <a mat-raised-button color="primary" fxFlex="33" fxFill routerLink="/household/add/" >Add Household</a>
    <a mat-raised-button color="primary" fxFlex="33" fxFill routerLink="/households" >View Households</a>
    <a mat-raised-button color="primary" fxFlex="33" fxFill routerLink="/members" >Members</a>
  </div>
</div>
