<div class="Container" *ngIf="household != null" >
  <div fxLayout="column" fxFlex="100" >
    <div fxLayout="row" fxLayoutAlign="center center">
      <h3><label>{{household.LastName}} Household</label></h3>
    </div>
    <app-household-detail [household]="household" [addMember]="true"></app-household-detail>
    <div fxLayout="row" fxLayoutAlign="streach start"
      *ngIf="household != undefined && household.Members != undefined && household.Members.length > 0">
      <app-member-list fxFill [members]="household.Members" ></app-member-list>
    </div>
  </div>
</div>
