<div class="Container" >
  <div *ngIf="member" fxLayout="column" fxFlex="100" >
    <div fxLayout="row" fxLayoutAlign="center center">
      <h3><label>Edit {{member.FirstName}} {{member.Household.LastName}}</label></h3>
    </div>
    <app-member-menu [member]="member" [edit]="true" ></app-member-menu>
    <span *ngIf="member && member.Household">
      <app-household-detail [household]="member.Household"></app-household-detail>
    </span>
    <app-member-edit [member]="member" [callback]="callback" ></app-member-edit>
  </div>
</div>
