<div class="Container" >
  <div fxLayout="column" fxFlex="100" >
    <div fxLayout="row" fxLayoutAlign="center center">
      <h3><label>Add Household</label></h3>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch" fxLayoutAlign="start start" fxLayoutGap="32px">
      <div fxLayout="column" fxFlex="33" fxFlex.lt-md="" >
        <div fxLayout="row wrap" fxFlex.lt-md="100">
          <mat-form-field fxFill fxFlex.lt-md="100" >
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]='household.LastName' />
          </mat-form-field>
          <mat-form-field fxFill fxFlex.lt-md="100" >
            <mat-label>Family Favorite Scripture</mat-label>
            <input matInput [(ngModel)]='household.FavScripture' />
          </mat-form-field>
          <mat-form-field fxFill fxFlex.lt-md="100" >
            <mat-label>Family Favorite Hymn</mat-label>
            <input matInput [(ngModel)]='household.FavHymn' />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxFlex="33" >
        <div fxLayout="row wrap">
          <mat-form-field fxFill >
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]='household.Address1' />
          </mat-form-field>
          <mat-form-field fxFill >
            <mat-label>Address 2</mat-label>
            <input matInput [(ngModel)]='household.Address2' />
          </mat-form-field>
          <mat-form-field fxFlex="40" fxFill >
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]='household.City' />
          </mat-form-field>
          <mat-form-field fxFlex="40" fxFill >
            <mat-label>State</mat-label>
            <input matInput [(ngModel)]='household.State' />
          </mat-form-field>
          <mat-form-field fxFlex="20" fxFill >
            <mat-label>Zip</mat-label>
            <input matInput [(ngModel)]='household.Zip' />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxFlex="33" >
        <div fxLayout="row wrap" >
          <mat-form-field fxFill fxFlex.lt-md="100" >
            <mat-label>Anniversary</mat-label>
            <input matInput [matDatepicker]="AnniversaryPicker" [(ngModel)]='household.Anniversary' />
            <mat-datepicker-toggle matSuffix [for]="AnniversaryPicker"></mat-datepicker-toggle>
            <mat-datepicker #AnniversaryPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFill fxFlex.lt-md="100" >
            <mat-chip-list #hobbyList aria-label="Family Hobbies">
              <mat-chip *ngFor="let hobby of household.Hobbies" [selectable]="selectable"
                      [removable]="removable" (removed)="removeHobby(hobby)">
                {{hobby}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add Family Hobbies"
                    [matChipInputFor]="hobbyList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addHobby($event)">
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field fxFill fxFlex.lt-md="100" >
            <mat-chip-list #foodList aria-label="Family Favorite Foods">
              <mat-chip *ngFor="let food of household.FavFood" [selectable]="selectable"
                      [removable]="removable" (removed)="removeFood(food)">
                {{food}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add Favorite Foods"
                    [matChipInputFor]="foodList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addFood($event)">
            </mat-chip-list>
          </mat-form-field>
          <button fxFill fxFlex.lt-md="100" mat-stroked-button (click)="save()" color="primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
